body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: $text-dark;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
      color: $primary-color;
  }
}

.container {
  width: $container-width;
  max-width: $container-max-width;
  margin: 0 auto;
}
