// Colors
$primary-color: #007bff !default;
$light-bg: #f8f9fa !default;
$text-dark: #333 !default;
$text-light: #fff !default;

// Font Sizes
$font-size-base: 16px;
$font-size-lg: 1.25rem;
$font-size-xl: 2.5rem;

// Container Widths
$container-width: 90%;
$container-max-width: 1200px;
